# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.DS_Store

.Rproj.user
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/transition_abm.iml
.idea/vcs.xml
data/.cps_00003.dat.icloud
/calibration/data
/calibration/dRC_Replication
/dRC_Replication/results
.Rhistory
.Rhistory
data/cps_00003.dat
code/sample_multiscale_agent_based_parameter_inference.ipynb
output/usa/sim_100_behav_false.csv
output/usa/sim_100_behav_true.csv
data/macro_vars/CPS_LTUER/cps_00005.dat
data/macro_vars/CPS_LTUER/cps_00005.dat.gz
.Rhistory
/data/behav_params/Mueller_Replication/120501-V1
/data/behav_params/Mukoyama_Replication/mukoyama_all/Figures
/data/behav_params/Mukoyama_Replication/mukoyama_all/final_data
/data/behav_params/Mukoyama_Replication/mukoyama_all/int_data
/data/behav_params/Mukoyama_Replication/mukoyama_all/raw_data
/data/behav_params/Mukoyama_Replication/mukoyama_all/Tables
/data/behav_params/Kroft_Replication/13299data
data/behav_params/Mueller_Replication/120501-V1.zip
/data/behav_params/behav_params_overview_cache
/data/behav_params/behav_params_overview_files
/data/behav_params/Eeckhout_Replication/116422-V1
/output/usa
/output/toy
/code/ignore
/calibration_remote/data
/calibration_remote/dRC_Replication
/calibration_remote/output/output_06_05
/calibration_remote/output/output_09_10_b
/calibration_remote/output/output_9_10
/calibration_remote/output/output_9_10
/calibration_remote/output/output_05_05
/calibration_remote/output/output_09_10
/calibration_remote/output/output_9_10
output/multipage_us2.pdf
data/behav_params/Eeckhout_Replication/cps_data/cps_00008.dat
data/behav_params/Eeckhout_Replication/cps_data/cps_00008.dat.gz
data/behav_params/Eeckhout_Replication/cps_data/cps_00008.xml
data/behav_params/Eeckhout_Replication/cps_data/cps_00009.dat
data/behav_params/Eeckhout_Replication/cps_data/cps_00009.dat.gz
data/behav_params/Eeckhout_Replication/cps_data/cps_00009.xml
data/behav_params/Eeckhout_Replication/cps_data/cps_00010.dat
data/behav_params/Eeckhout_Replication/cps_data/cps_00010.dat.gz
data/behav_params/Eeckhout_Replication/cps_data/cps_00010.xml
data/behav_params/Kroft_Replication/pgk20w91zx8.zip
data/behav_params/CPS_BLS_Supplement_18_22/cpsfebmay22.pdf
data/behav_params/CPS_BLS_Supplement_18_22/cpsmaysep18.pdf
data/ATUS/atus_00001.dat
data/ATUS/atus_00001.dat.gz
data/ATUS/atus_00001.xml
data/ATUS/atus_00002.dat
data/ATUS/atus_00002.dat.gz
data/ATUS/atus_00002.xml
data/behav_params/CPS_BLS_Supplement_18_22/maysep18pub.dat
data/behav_params/CPS_BLS_Supplement_18_22/maysep18pub.dat.gz
data/behav_params/CPS_BLS_Supplement_18_22/febmay22pub.csv
/data/transition_scenarios/BLS_employment_projections/past_projections
/dRC_Replication
*.zip
data/occ_macro_vars/CPS_LTUER/cps_00005/cps_00005.txt
data/occ_macro_vars/CPS_LTUER/cps_00005/cps_00005.dat
data/occ_macro_vars/CPS_LTUER/cps_00005/cps_00005.dat.gz
data/occ_macro_vars/CPS_LTUER/cps_00005/cps_00005.xml
data/occ_macro_vars/CPS_LTUER/cps_00005/cps_ltuer.rtf
data/occ_macro_vars/CPS_LTUER/cps_00006.xml
data/occ_macro_vars/CPS_LTUER/cps_00006.dat
data/occ_macro_vars/CPS_LTUER/cps_00006.dat.gz
data/occ_macro_vars/CPS_LTUER/cps_00006.txt
data/behav_params/Mueller_Replication/sce_datafile_13_19.RDS
data/behav_params/Mueller_Replication/sce_datafile_13_19_constrained_to_orig.RDS
data/behav_params/Mueller_Replication/sce_datafile_13_19_constrained_to_orig_w_lab_survey.RDS
data/behav_params/Mueller_Replication/sce_datafile_13_19_w_lab_survey.RDS
data/behav_params/Mueller_Replication/sce_datafile_13_24.RDS
data/behav_params/Mueller_Replication/sce_datafile_13_24_w_lab_survey.RDS
data/behav_params/Mueller_Replication/sce_datafile_13_24_w_lab_survey_new.RDS
data/behav_params/Mueller_Replication/sce_datafile_20_24.RDS
data/behav_params/Mueller_Replication/sce_datafile_20_24_w_lab_survey.RDS
data/behav_params/Mueller_Replication/sce_datafile_em_2025.RDS
code/.Rhistory
code/.Rhistory
/data/occ_macro_vars/OEWS/oesm**nat
/data/occ_macro_vars/OEWS/oesm14nat
/data/occ_macro_vars/OEWS/oesm16nat
/data/occ_macro_vars/OEWS/oesm17nat
/data/occ_macro_vars/OEWS/oesm18nat
/data/occ_macro_vars/OEWS/oesn03nat
/data/occ_macro_vars/OEWS/oesn04nat
/data/occ_macro_vars/OEWS/oes02nat
/data/occ_macro_vars/OEWS/oes01nat
/calibration_remote/output/output_04_01
/calibration_remote/output/output_18_04
data/behav_params/Eeckhout_Replication/cps_data/cps_00011.dat
data/behav_params/Eeckhout_Replication/cps_data/cps_00011.dat.gz
data/behav_params/Eeckhout_Replication/cps_data/cps_00012.dat
data/behav_params/Eeckhout_Replication/cps_data/cps_00011.xml
data/behav_params/Eeckhout_Replication/cps_data/cps_00012.dat.gz
data/behav_params/Eeckhout_Replication/cps_data/cps_00012.xml
data/behav_params/Eeckhout_Replication/cps_data/cps_00013.dat
data/behav_params/Eeckhout_Replication/cps_data/cps_00013.dat.gz
data/behav_params/Eeckhout_Replication/cps_data/cps_00013.xml
data/behav_params/Eeckhout_Replication/cps_data/cps_00014.dat
data/behav_params/Eeckhout_Replication/cps_data/cps_00014.dat.gz
data/behav_params/Eeckhout_Replication/cps_data/cps_00014.xml
data/occ_macro_vars/CPS_LTUER/cps_00016.dat
data/occ_macro_vars/CPS_LTUER/cps_00016.dat.gz
data/occ_macro_vars/CPS_LTUER/cps_00016.xml
/calibration_remote/output_07_05
data/behav_params/cps_displaced_worker_supplement/cps_00017.dat.gz
data/behav_params/cps_displaced_worker_supplement/cps_00017.xml
data/behav_params/cps_displaced_worker_supplement/cps_00019.dat
data/behav_params/cps_displaced_worker_supplement/cps_00018.xml
data/behav_params/cps_displaced_worker_supplement/cps_00019.dat.gz
data/behav_params/cps_displaced_worker_supplement/cps_00019.xml
data/occ_macro_vars/OEWS/national_1999_dl.xls
data/occ_macro_vars/OEWS/national_2000_dl.xls
data/occ_macro_vars/OEWS/national_2002_dl.xls
data/occ_macro_vars/OEWS/national_2009_dl.xls
data/occ_macro_vars/OEWS/national_dl_2009.xls
data/occ_macro_vars/OEWS/national_november2003_dl.xls
data/occ_macro_vars/OEWS/national_november2004_dl.xls
apps_sent.jpeg
Rplot.jpeg
Rplot01.jpeg
Rplot02.jpeg
/data/occ_macro_vars/OEWS/industry_specific/oesm23in4
/data/occ_macro_vars/OEWS/industry_specific/oesm24in4
/data/occ_macro_vars/OEWS/industry_specific/oesm22in4
/data/occ_macro_vars/OEWS/industry_specific/oesm19in4
/data/occ_macro_vars/OEWS/industry_specific/oesm20in4
/data/occ_macro_vars/OEWS/industry_specific/oesm21in4
/data/occ_macro_vars/OEWS/industry_specific/oesm18in4
/data/occ_macro_vars/OEWS/industry_specific/oesm17in4
/data/occ_macro_vars/OEWS/industry_specific/oesm16in4
/data/occ_macro_vars/OEWS/industry_specific/oesm15in4
/data/occ_macro_vars/OEWS/industry_specific/oesm14in4
/data/occ_macro_vars/OEWS/industry_specific/oesm13in4
/data/occ_macro_vars/OEWS/industry_specific/oesm12in4
/data/occ_macro_vars/OEWS/industry_specific/oesm11in4
/data/occ_macro_vars/OEWS/industry_specific/oesm10in4
/data/occ_macro_vars/OEWS/industry_specific/oesm09in4
/data/occ_macro_vars/OEWS/industry_specific/oesm08in4
/data/occ_macro_vars/OEWS/industry_specific/oesm07in4
/data/occ_macro_vars/OEWS/industry_specific/oesm06in4
/data/occ_macro_vars/OEWS/industry_specific/oesm05in4
/data/occ_macro_vars/OEWS/industry_specific/oesm03in4
/data/occ_macro_vars/OEWS/industry_specific/oes99in3
/data/occ_macro_vars/OEWS/industry_specific/oes02in4
/data/occ_macro_vars/OEWS/industry_specific/oesm04in4
/data/occ_macro_vars/OEWS/industry_specific/oes00in3
/data/occ_macro_vars/OEWS/industry_specific/oes01in3
/cache
/figure
/calibration_remote/output_28_05
/calibration_remote/output_16_05
/calibration_remote/output_06_06
data/occ_macro_vars/OEWS/national_1999_dl.xls
data/occ_macro_vars/OEWS/national_2000_dl.xls
data/occ_macro_vars/OEWS/national_2002_dl.xls
/calibration_remote/old_output
/data/occ_macro_vars/occ_td_setting_files
/calibration_remote/calibration_remote_25_06
/calibration_remote_old
/calibration_remote/output_small
/data/behav_params/cps_displaced_worker_supplement/cps_disc_worker_vignette_files
/calibration_remote/old
/calibration_remote/output/new_network_old
/calibration_remote/output/plots_wage_distributions/detailed_occs
data/occ_macro_vars/ipums_vars/cps_00021.dat
data/occ_macro_vars/ipums_vars/cps_00021.xml
data/occ_macro_vars/ipums_vars/cps_00022.dat
data/occ_macro_vars/ipums_vars/cps_00022.xml
/calibration_remote/output/onet_wage_asym_2
/calibration_remote/output/onet_wage_asym_1
/calibration_remote/output/onet_wage_asym
/calibration_remote/output/onet_pre_final
/calibration_remote/output/onet_2
/calibration_remote/output/full_omn_2/combined_plots
/calibration_remote/output/full_omn_2
/calibration_remote/output/full_omn_1
data/behav_params/Eeckhout_Replication/.RData
/calibration_remote/output/cos_calib/onet_wage_asym/OLD
/calibration_remote/output/cos_calib/onet/OLD
/calibration_remote/output/cos_calib/full_omn/OLD
/calibration_remote/output/pyabc
/calibration_remote/output/previous_calib_pyabc
/calibration_remote/output/pyabc_runs
.RData
